.content 
  h1 Someone wants to trade with you on Bookilook!
  p Someone wants to trade with you! He or she proposes : #{theirBookTitle} in exchange to your #{myBookTitle}
  p Click the link below if you want to ACCEPT the trade!
  a(href="https://fierce-basin-79843.herokuapp.com/acceptTrade/#{tradeID}") Accept!
